.cartWidget{
    display: flex;
    align-items: center;
}
.cartEmoji{
    font-size: 35px;
}
h2{
    font-size: 2.7rem;
}
.contador{
    color: rgba(201, 5, 5, 0.877);
    -webkit-text-stroke: 2px rgba(201, 5, 5, 0.877);
    position: relative;
    bottom:15px;
    right: 12px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    
}