.header{
position: absolute;
width: 100%
}

.nav-container{
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(54, 97, 14);
}
.navegacion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.navegacion a{
  color: inherit;
  margin: 10px;
  text-decoration: none;

}

.sacar-color{
  color: inherit;
}



